ul.list-horizontal {
  @include vendor('display', 'flex');
  list-style: none;
  //margin-top:5px;
  margin-bottom:0;

  li {
    padding: 0.5rem 1.25rem 0 (1.25rem + _font(letter-spacing));

    a {
      border-bottom-color: transparent;
      outline: none;
    }
  }
}

@include breakpoint(medium) {
  ul.list-horizontal {
    @include vendor('flex-direction', 'column');
  }
}
